.titlebar{
    background-color: orange;
    display: block;
    padding:1em;
}
body{
    font-family: 'figtree', sans-serif;
    margin: 0;
    padding: 0;
}
.game-desc{
    text-align: center;
}
.game-box {
  width: 100%;
  max-width: 960px;    
  aspect-ratio: 19 / 13; 
  margin: 20px auto;   
  background: #000;    
  border-radius: 4px;   
  overflow: hidden;
}
